<h2>Update Bulk Discount</h2>
<%= form_tag "/merchant/discounts/#{@discount.id}", method: :patch do %>
  <%= label_tag :required_quantity %>
  <%= text_field_tag :required_quantity, "#{@discount.required_quantity}" %>
  <br>
  <%= label_tag :percentage %>
  <%= text_field_tag :percentage, "#{@discount.percentage}" %>
  <br>
  <%= submit_tag 'Update Discount' %>
<% end %>
