<h2><%= link_to @merchant.name %> Bulk Discounts</h2>

<%= link_to 'Create New Bulk Discount', '/merchant/discounts/new' %><br>
<br>

<section class="discounts">
  <% @merchant.discounts.each do |discount| %>
    <section id="discount-<%= discount.id %>">
      <%= link_to "Discount id: #{discount.id}", "/merchant/discounts/#{discount.id}" %>
      <br>
      <%= link_to "Update Discount #{discount.id}", "/merchant/discounts/#{discount.id}/edit"  %>
      <br>
      <%= link_to "Delete Discount", "/merchant/discounts/#{discount.id}", method: :delete %>
      <p>Quantity required for the discount: <%= discount.required_quantity %></p>
      <p>Discount percentage: <%= discount.percentage %>%</p>
      <p>-------------------------------------------</p>
    </section>
  <% end %>
</section>
